@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: #c7dbe0cc;
    font-family: 'Inter', sans-serif;
}

@media (min-width: 407px) {
    .search-bar{
        left: 130px;
    }

    .search-btn{
        left: 190px;
    }
}

@media (min-width: 338px) {
    .search-bar{
        left: 80px;
    }

    .search-btn{
        left: 140px;
    }

    .download{
        left: 63px;
    }
}